* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}
:root {
  --text-color: #f5f5f5;
  --hover-color: #12f7ff;
  --bg-color: #250821;
  --secon-bg-color: 0#292e33;
  --big-font: 2.5rem;
  --norma-font: 2rem;
  --neon-box-shadow: 0 0 0.5rem #12f7ff;
  --h2-font: 3rem;
  --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3) 0 0 20px
      rgba(18, 247, 255, 0.3),
    0 0 30px rgba(18, 247, 255, 0.3), 0 0 40px rgba(18, 247, 255, 0.3),
    0 0 70px rgba(18, 247, 255, 0.3), 0 0 80px rgba(18, 247, 255, 0.3),
    0 0 100px rgba(18, 247, 255, 0.3), 0 0 150px rgba(18, 247, 255, 0.3);
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);

  color: var(--text-color);
}
header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;          /* toujours collée au top */
  left: 0;
  width: 100%;     /* pleine largeur */
  padding: 15px 10%;
  background: #e8e5e54c; /* couleur du navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;   /* toujours au-dessus des sections */
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);

}
.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}
span {
  color: var(--hover-color);
}
.navlist {
  display:contents;
  
  list-style: none;
}

.navlist li {
  margin-left: 30px;
}
.navlist a {
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 20px;
}
.navlist a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 10px rgba(18, 247, 255, 0.6) 0 0 20px rgba(18, 247, 255, 0.6),
    0 0 30px rgba(18, 247, 255, 0.6), 0 0 40px rgba(18, 247, 255, 0.6),
    0 0 70px rgba(18, 247, 255, 0.6), 0 0 80px rgba(18, 247, 255, 0.6),
    0 0 100px rgba(18, 247, 255, 0.6), 0 0 150px rgba(18, 247, 255, 0.6);
}

.navlist li a {
  color: black;      /* couleur normale */
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s;
}

.navlist li a.active {
  color: #12f7ff;    /* couleur quand actif */
  font-weight: bold;
}




#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  background-color: var(--hover-color);
  border-radius: 3px;
  color: var(--secon-bg-color);
  display: none;
}
section {
  padding: 100px 10%;
}/* Container home */
.home {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4em;
  padding: 0 5%;
}

/* Texte */
.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.change-text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.change-text h3 {
  display: inline-block;
  margin: 0 0.5rem;
}

.change-text .world {
  color: var(--hover-color);
  font-weight: 600;
}

/* Paragraphe */
.home-content p {
  color: #bdbdbd;
  line-height: 1.6;
  margin-bottom: 2rem;
}

/* Info box */
.info-box {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.info-box h5 {
  font-weight: 600;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.info-box span {
  font-size: 0.9rem;
  color: #bdbdbd;
}

/* Buttons */
.btn-box {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.btn {
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  background: var(--hover-color);
  border: 2px solid var(--hover-color);
  transition: 0.3s;
}

.btn:hover {
  background: #000;
  color: var(--hover-color);
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: #000;
  border: 2px solid var(--hover-color);
  color: var(--hover-color);
  border-radius: 5px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: var(--hover-color);
  color: #000;
}

/* Image */
.home-img {
  position: relative;
  text-align: center;
}

.img-box img {
  max-width: 300px;
  width: 100%;
  border-radius: 30px;
}

/* SVG shape derrière */
.home-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* ===== ABOUT SECTION ===== */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background: var(--secon-bg-color);
  padding: 4rem 10%;
}

/* IMAGE */
.img-about {
  position: relative;
  text-align: center;
}

.img-about img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

/* CONTENT */
.about-content span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-content h2 {
  color: var(--hover-color);
  font-weight: 700;
  font-size: var(--normal-font);
}

.about-content h3 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.about-content p {
  color: #fdfdfd;
  font-weight: 300;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

/* INFO BOXES */
.info-about1,
.info-about2,
.info-about3 {
  background: var(--bg-color);
  position: absolute;
  padding: 10px;
  width: 90px;
  height: 90px;
  border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
  box-shadow: var(--neon-box-shadow);
  border: 1px solid var(--hover-color);
  outline: 2px solid var(--bg-color);
  z-index: 10;
  text-align: center;
  animation: float 6s linear infinite;
}

/* POSITIONS */
.info-about1 {
  left: 10%;
  top: 34%;
}

.info-about2 {
  left: 66%;
  top: 15%;
}

.info-about3 {
  left: 61%;
  top: 70%;
}

/* TEXT INSIDE BOX */
.img-about span {
  color: var(--hover-color);
  font-size: 1rem;
  font-weight: 600;
}

.img-about p {
  font-size: 0.7rem;
  color: #fff;
}

/* ANIMATION */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .info-about1,
  .info-about2,
  .info-about3 {
    display: none;
  }
}


/* services */
.services{
  background: var(--secon-bg-color);
  
}
.main-text {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;

  color: var(--hover-color);
}
.main-text h2 {
  font-weight: 700;
  font-size: var(--norma-font);
}
.main-text span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 2rem;
}
.services-box {
  flex: 1 1 18rem;
  padding: 2rem 1rem 2rem;
  text-align: center;
  background: var(--secon-bg-color);
  transition: transform 0.4s;
  border-radius: 10px;
}
.service-btn {
  width: auto;
  justify-content: center;
}
.services-box:hover {
  transform: translateY(-0.7rem);
}
.service-icon {
  border: 2px solid var(--hover-color);
  padding: 2rem;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  position: relative;
  color: var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  outline: 3px solid var(--bg-color);
}
.services-box h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.services-box p{
  margin: .5rem 0 1.5rem 0 ;
  font-weight:300 ;
  color: #bdbdbd;
  line-height: 1.6;

  
}

/* services section css*/
 .skills{
  background: var(--secon-bg-color);
 
  
} 

.skills-main{
  width:100% ;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 30px;
  grid-column-gap:50px ;
}
.skill-bar{
  margin-bottom: 2.3rem;
}
.skills-main h3{
margin-bottom: 2rem;
font-size:var(--normal-font) ;
text-align: center;
}


.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
.skill-left .skill-bar .bar{
  width: 100%;
  height: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.skill-bar .bar span{
  width: 50%;
  height: 100%;
  position: absolute;
  left :0;
  background: var(--hover-color);
  border-radius: 25px;
  box-shadow: var(--neon-box-shadow);

}
.skill-bar .bar .html {
  width: 50%;

}

.skill-bar .bar .Figma {
  width: 72%;
  
}

.skill-bar .bar .Boostrap {
  width: 72%;
  
}



.skill-bar .bar .Asp.Net {
  width: 50%;
  
}


.skill-bar .bar .basededonnes {
  width: 72%;
  
}


.skill-bar .bar .css {
  width: 70%;
  
}

.skill-bar .bar .nextjs {
  width: 60%;
  
}

.skill-bar .bar .JavaScript {
  width: 60%;
  
}
.skill-bar .bar .react.js {
  width:60%;
  
}
.skill-bar .bar .java {
  width: 50%;
  
}
/* formation*/
.education {
  padding: 5rem 10%;

  color: #fff;
}

.education .main-text {
  text-align: center;
  margin-bottom: 3rem;
}

.education .main-text span {
  color: var(--hover-color);
  font-weight: 600;
  font-size: 1.2rem;
}

.education .main-text h2 {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.edu-box {
  background-color: #111;
  padding: 2rem;
  border-left: 4px solid var(--hover-color);
  border-radius: 8px;
  transition: 0.3s;
}

.edu-box:hover {
  background-color: #1a1a1a;
}

.edu-box h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--hover-color);
}

.edu-box span.year {
  display: block;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #bdbdbd;
}

.edu-box p {
  margin-top: 0.5rem;
  color: #bdbdbd;
  line-height: 1.5;
}

/* professional skills*/
.skill-right {
  padding: 50px;
}

.skill-right h3 {
margin-bottom: 0.5rem;
font-size:var(--normal-font) ;
text-align: center;
}

.professional {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.box {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  transition: 0.4s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,170,255,0.4);
}

.circle {
  position: relative;
  width: 140px;
  height: 140px;
  margin: auto;
}

.circle svg {
  width: 140px;
  height: 140px;
  transform: rotate(-90deg);
}

.circle circle {
  fill: none;
  stroke-width: 12;
  stroke-linecap: round;
}

.circle circle:first-child {
  stroke: #2e2e2e;
}

.circle circle:last-child {
stroke: var(--hover-color);
  stroke-dasharray: 377;
  stroke-dashoffset: calc(377 - (377 * var(--percent)) / 100);
  transition: 1s;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.box h4 {
  margin-top: 20px;
  font-size: 18px;
  color: white;
}


/**QUIZ*/

  .Quiz{
  width: 100%;
  /* background: var(--secon-bg-color); */

  


}   

.quiz {
  padding: 60px 10%;
}

.question {
  margin-bottom: 25px;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}

.question p {
  font-weight: bold;
  margin-bottom: 10px;
}

.question label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

button {
  padding: 12px 30px;
  background: var(--hover-color);
  border: none;
  border-radius: 25px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}



/**intership**/

 
.internships {
  padding: 80px 10%;
    /* background: var(--secon-bg-color); */

  
  width: 100%;
}

.timeline {
  position: relative;
  margin-top: 50px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: 3px;
  height: 100%;
  background: var(--hover-color);
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
}

.timeline-dot {
  width: 15px;
  height: 15px;
  background: var(--hover-color);
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 10px;
}

.timeline-content {
  background: #1a1a1a;
  padding: 20px 25px;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.timeline-content:hover {
  transform: translateY(-5px);
}

.timeline-content h3 {
  color: var(--hover-color);
  margin-bottom: 5px;
}

.timeline-content h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.timeline-content span {
  font-size: 14px;
  opacity: 0.8;
}

.timeline-content p {
  margin-top: 10px;
  line-height: 1.6;
}




/**contact*/

   .content{
  width: 100%;
  background: var(--secon-bg-color);

  

}    


.content form{
  text-align: center;
  max-width: 50rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}
.content  form input, 
.content  form textarea{
  width: 100%;
  color: var(--text-color);
  background: var(--bg-color);
margin-bottom: .8rem;
border: none;
border-radius: 5px;
padding: .7rem;
} 

.content  form textarea{
  resize: none;
}

.formBtn{
  display: flex;
  justify-content: center;
  width: 100%;
}

/**footer**/

.footer {
  background: #e8e5e54c;
  color: #fff;
  padding: 60px 0 20px;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.footer-box h3 {
  color: var(--hover-color);
  margin-bottom: 20px;
}

.footer-box p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.85;
}

.footer-box ul {
  list-style: none;
}

.footer-box ul li {
  margin-bottom: 2px;
  
}

.footer-box ul li a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: var(--hover-color);
  opacity: 1;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #1c1c1c;
  color: var(--hover-color);
  margin-right: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: var(--hover-color);
  color: #000;
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid rgba(255,255,255,0.1);
  text-align: center;
  padding-top: 15px;
  font-size: 14px;
}

.footer-bottom span {
  color: var(--hover-color);
}
header.sticky{
background: var( --bg-color);
border-bottom: 1px solid var( -- secon-bg-color);
padding: 12px 10%}


@media(max-width:991px){
  header,
  header.sticky{
    padding: 15px 5%;
  }
  footer{
  padding: 15px  5px;
  }
 
}


/**navbar**/



